.myName {
    font-family: 'Times New Roman';
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.seo {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}